<div class="container">
  <div class="row">
    <div class="col-md-7 col-lg-8">
      <h2>QR Genarate</h2>
      <form [formGroup]="qrForm" (ngSubmit)="generateQRCode()">
        <div class="form-group mt-3">
          <label class="mb-2" for="qrType">Choose:</label>

          <select class="form-control" id="qrType" formControlName="selectedType" (change)="onQRTypeChange($event)">
            <option *ngFor="let option of qrOptions" [value]="option?.value">{{ option.label }}</option>
          </select>
          <!-- <div *ngIf="form.controls['qrFor'].touched && form.controls['qrFor'].errors?.['required']"
                        class="error">
                        Email is required.
                    </div>
                    <div *ngIf="form.controls['qrFor'].touched && form.controls['qrFor'].errors?.['email']"
                        class="error">
                        Invalid email format.
                    </div> -->
        </div>
        <div *ngIf="qrForm.get('selectedType')?.value !== ''">
          <div class="form-group">
            <label for="location">Name:</label>
            <input type="text" class="form-control" id="location" formControlName="name">
          </div>
        </div>
        <div *ngIf="qrForm.get('selectedType')?.value === 'maps'">
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" formControlName="location">
          </div>
        </div>

        <div *ngIf="qrForm.get('selectedType')?.value === 'url' || qrForm.get('selectedType')?.value === 'shorturl'">
          <div class="form-group">
            <label for="url">URL:</label>
            <input type="text" class="form-control" id="url" formControlName="url">
          </div>
        </div>

        <div *ngIf="qrForm.get('selectedType')?.value === 'StoreUrl'">
          <div class="form-group">
            <label for="appstoreUrl">App Store URL:</label>
            <input type="text" class="form-control" id="appstoreUrl" formControlName="appstoreUrl">
          </div>
          <div class="form-group">
            <label for="playstoreUrl">Play Store URL:</label>
            <input type="text" class="form-control" id="playstoreUrl" formControlName="playstoreUrl">
          </div>
        </div>

        <div *ngIf="qrForm.get('selectedType')?.value === 'deeplink'">
          <div class="form-group">
            <label for="playstoreShortUrl">Play Store Short URL:</label>
            <input type="text" class="form-control" id="playstoreShortUrl" formControlName="playstoreShortUrl">
          </div>
          <div class="form-group">
            <label for="appstoreShortUrl">App Store Short URL:</label>
            <input type="text" class="form-control" id="appstoreShortUrl" formControlName="appstoreShortUrl">
          </div>
        </div>
        <button class="btn btn-success btn-lg w-100 mt-4" type="submit">Submit</button>
      </form>
    </div>

  </div>
</div>
<div class="mt-4">
  <img *ngIf="generatedQRCode" [src]="generatedQRCode" alt="QR Code">
</div>