<!-- <p>four works!</p> -->
<!-- {{testData | async | json}} -->

<!-- <div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</div> -->

<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Login</h2>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors.required">Email is required.</div>
        <div *ngIf="email.errors.email">Invalid email format.</div>
      </div> -->
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
      <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors.required">Password is required.</div>
      </div> -->
    </div>
    <div *ngIf="showForgotPassword" class="form-group">
      <label for="forgotEmail">Email:</label>
      <input type="email" id="forgotEmail" formControlName="forgotEmail" required>
      <!-- <div *ngIf="forgotEmail.invalid && (forgotEmail.dirty || forgotEmail.touched)" class="error">
        <div *ngIf="forgotEmail.errors.required">Email is required.</div>
        <div *ngIf="forgotEmail.errors.email">Invalid email format.</div>
      </div> -->
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="loginForm.invalid">Log In</button>
    </div>
    <div class="form-group">
      <a href="#" (click)="toggleForgotPassword()">Forgot Password?</a>
    </div>
  </form>
</div>
