<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
</nav>
<!-- <div>
    <p (click)="routerNavigateTo('one')">Weather</p>
    <p (click)="routerNavigateTo('two')">component2</p>
    <p (click)="routerNavigateTo('three')">component3</p>
    <p (click)="routerNavigateTo('four')">component4</p>
</div> -->
<!-- useragent: {{userAgent}}
<p>device: {{deviceInfo}}</p>
<p>isMobile: {{isMobile}}</p>
<p>Ios: {{isIos}}</p>
<p>Android: {{isAndroid}}</p>
<p>max touch points--{{maxtouchPoints}}</p> -->
<router-outlet></router-outlet>
<!-- <div class="search_center">
    <div class="search_outer">
        <textarea rows="1" cols="50" (change)="search($event)"></textarea>
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</div>
<div class="search_result_outer">
    <div *ngFor="let item of searchList">
        <div class="display_card">
            <label>{{item.name}}</label><br/>
            <a [attr.href]="item.url" target="_blank">{{item.url}}</a>
        </div>
    </div>
</div> -->