<img *ngIf="imageData" [src]="imageData" alt="QR code image">

<div class="container">
    <div class="pattern"></div>
    <div class="form-wrapper">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name">
                <div *ngIf="form.controls['name'].touched && form.controls['name'].errors?.['required']" class="error">
                    Name is required.
                </div>
                <div *ngIf="form.controls['name'].touched && form.controls['name'].errors?.['minlength']" class="error">
                    Name must be at least 3 characters long.
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email">
                <div *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']"
                    class="error">
                    Email is required.
                </div>
                <div *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']" class="error">
                    Invalid email format.
                </div>
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" formControlName="phone">
                <div *ngIf="form.controls['phone'].touched && form.controls['phone'].errors?.['required']"
                    class="error">
                    Phone is required.
                </div>
            </div>

            <div class="form-group">
                <label for="purpose">Purpose:</label>
                <input type="text" id="purpose" formControlName="purpose">
                <div *ngIf="form.controls['purpose'].touched && form.controls['purpose'].errors?.['required']"
                    class="error">
                    Purpose is required.
                </div>
            </div>

            <div class="form-group">
                <label for="qrtext">QR Text:</label>
                <input type="text" id="qrtext" formControlName="qrtext">
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!form.valid">Submit</button>
            </div>

            <div *ngIf="errorText" class="error">
                {{ errorText }}
            </div>
        </form>
    </div>
</div>